<ion-view view-title="Notificações" ng-controller="Config">
  <ion-content>  
	<div class="card">
		<div class="item item-text-wrap">
			<p>Agora você pode receber informações de sua instituição de ensino em tempo real, para isso basta marcar a opção abaixo e receber em seu e-mail sempre que uma nova atualização for feita.</p>
			<br />
			<p>Esta é a maneira mais rápida de ficar sabendo tudo o que acontece em sua escola.</p>
			<br />
			<p><strong>Atenção!</strong> mantenha seu e-mail sempre atualizado para utilizar esta funcionalidade.</p>
		</div>
		<div class="item item-text-wrap">
			<ul class="list">
				<li class="item item-toggle">
				 Receber informações
				 <label class="toggle toggle-balanced">
				   <input type="checkbox">
				   <div class="track">
				     <div class="handle"></div>
				   </div>
				 </label>
				</li>	  
			</ul>
		</div>	
	</div>	
  </ion-content>
</ion-view>
