<ion-view view-title="Melhores avaliadas" ng-controller="Ranking">
  <ion-content> 
  	<div id="search-menu">
	  	<div class="bar bar-header item-input-inset">
	  		<label class="item-input-wrapper">
	    		<i class="icon ion-ios-search placeholder-icon"></i>
	    		<input type="search" placeholder="Buscar">
	  		</label> 
		</div>
	</div> 	  	
	<div class="list">
	    <a ng-repeat="item in items" class="item item-thumbnail-left">
	      <img ng-src="{{ item.image }}">
	      <h2>{{ item.nome }}</h2>
	      <h3>{{ item.bairro }}</h3>
	      <h3><!--{{ item.pontuacao }}--> <i class="ion-android-star stars"></i><i class="ion-android-star stars"></i><i class="ion-android-star stars"></i><i class="ion-android-star stars"></i><i class="ion-android-star stars"></i></h3>
	      
	      <!--<i class="ion-android-star"></i>-->
	    </a>
    </div> 
  </ion-content>
</ion-view>